body {
  margin: 0;
  padding: 0;
}

.blog-detail {
  width: 900px;
  margin: 50px auto;
}

.blog-detail .blog-detail-container h1 {
  text-align: center;
}
.author {
  grid-area: content;
}

.blog-detail-container img {
  grid-area: hero;
}

.blog-detail .blog-detail-container p {
  grid-area: content;
  text-align: justify;
}
